.column {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    background-color: var(--color-bg-light-grey);
    border-radius: 12px;
    padding: 12px;
    box-sizing: border-box;
}

.title {
    display: inline;
}
