.card {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 12px 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100%;
    box-shadow: 0px 2px 6px 0px #00000012;
    border: 1px solid #DDDDDD;
    gap: 8px;
}

.title {
    font: var(--font-semibold);
    /* This could be solved with SCSS and mixins - although I would just argue with designers to drop this letter-spacing alltogether */
    letter-spacing: var(--font-semibold-letter-spacing);
    color: var(--color-text-primary);
}

.content {
    font: var(--font-body);
    letter-spacing: var(--font-body-letter-spacing);
    color: var(--color-text-secondary);
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.participants {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}
