.header {
    margin-bottom: 24px;
}

.title {
    font: var(--font-heading);
    color: var(--color-text-primary);
    margin: 0 0 8px 0;
}

.subtitle {
    font: var(--font-body);
    letter-spacing: var(--font-body-letter-spacing);
    color: var(--color-text-secondary);
}

.boardWrapper {
    display: flex;
    overflow-x: auto;
}

.board {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-flow: column;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 0;
    gap: 12px;
    align-items: start;
    border: 1px solid #0000000D;
    padding: 12px;
    border-radius: 24px;
    box-sizing: border-box;
}
